[submodule "app/src/main/play"]
	path = app/src/main/play
	url = https://github.com/AntennaPod/StoreMetadata.git
	branch = main
[submodule "app/src/main/cpp/llama.cpp"]
	path = app/src/main/cpp/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
